@model ProyectoInmobiliaria.Models.Inquilino

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar Inquilino</h4>
<span style="color:forestgreen" class="text-center">@ViewBag.Mensaje</span>
<span style="color:red" class="text-center">@ViewBag.Error</span>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-4">
                    <p>Datos del Inquilino</p>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" required>
                        <div class="invalid-feedback">Ingrese nombre.</div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Apellido" class="control-label"></label>
                        <input asp-for="Apellido" class="form-control" required>
                        <div class="invalid-feedback">Ingrese apellido.</div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Dni" class="control-label"></label>
                        <input asp-for="Dni" class="form-control" required>
                        <div class="invalid-feedback">Ingrese DNI.</div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" required>
                        <div class="invalid-feedback">Ingrese dirección.</div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" required>
                        <div class="invalid-feedback">Ingrese correo electronico.</div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" required>
                        <div class="invalid-feedback">Ingrese telefono.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Lugar Trabajo</label>
                        <input asp-for="LugarTrabajo" class="form-control" required>
                        <div class="invalid-feedback">Ingrese lugar de trabajo.</div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <p>Datos del Garante</p>
                    <div class="form-group">
                        <label class="control-label">Nombre Garante</label>
                        <input asp-for="NombreGarante" class="form-control" required>
                        <div class="invalid-feedback">Ingrese nombre.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Apellido Garante</label>
                        <input asp-for="ApellidoGarante" class="form-control" required>
                        <div class="invalid-feedback">Ingrese apellido.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Dni Garante</label>
                        <input asp-for="DniGarante" class="form-control" required>
                        <div class="invalid-feedback">Ingrese DNI.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Direccion Garante</label>
                        <input asp-for="DireccionGarante" class="form-control" required>
                        <div class="invalid-feedback">Ingrese direccion.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email Garante</label>
                        <input asp-for="EmailGarante" class="form-control" required>
                        <div class="invalid-feedback">Ingrese correo electronico.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Telefono Garante</label>
                        <input asp-for="TelefonoGarante" class="form-control" required>
                        <div class="invalid-feedback">Ingrese telefono.</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Lugar Trabajo Garante</label>
                        <input asp-for="LugarTrabajoGarante" class="form-control" required>
                        <div class="invalid-feedback">Ingrese lugar de trabajo.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Volver a la Lista</a>
            </div>
        </form>
    </div>
</div>


